- @no_container = true
- page_title s_(@data.title)
- add_page_specific_style 'page_bundles/observability'

- content_for :top_bar_actions do
  #js-observability-feedback

.observability-container
  - data = @data.to_h.merge(polling_endpoint: url_for(format: :json, only_path: true))
  - data[:query_params] = data[:query_params].to_json
  #js-observability{ data: data }
