- page_title s_('AccessTokens|Generate fine-grained token')

= render_if_exists 'shared/dashboard/saml_reauth_notice', groups_requiring_saml_reauth: user_groups_requiring_reauth

#js-create-granular-token-app{ data: personal_access_token_data({}) }
