- add_to_breadcrumbs s_('AccessTokens|Personal access tokens'), user_settings_personal_access_tokens_path
- page_title s_('AccessTokens|Generate legacy token')

#js-create-legacy-token-app{ data: personal_access_token_data(@access_token_params) }
