- page_title _('Analytics dashboards')

#js-explore-analytics-dashboards
  = render Pajamas::EmptyStateComponent.new(svg_path: 'illustrations/empty-state/empty-dashboard-md.svg',
    title: s_('Analytics|Analytics dashboards'))
