- page_title s_('WorkItem|Work items')
- add_page_specific_style 'page_bundles/issuable_list'
- add_work_items_stylesheet
- add_page_specific_style 'page_bundles/design_management'
= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, safe_params.merge(rss_url_options).to_h, title: "#{@project.name} work items")

#js-work-items{ data: work_item_views_only_data(@project) }
